<%- include('../partials/header') %>
<h2>Product List:</h2>
<link rel="stylesheet" href="stylesheets/style.css">
        
        
        <a href="/products/admin" id="newItem">Add an Item</a>
          <% products.forEach(function(product) { %>
            <div class="products">
              <%= products.text %><br>
             
            </div>
          <% }) %>
    <% console.log(products) %> 
      <!-- Write the line of EJS to iterate over movies using forEach -->
      <% products.forEach(function(p) { %>
        <!-- Value attribute is being set to the comment's current text -->
        <h1>Name:
        <%= p.name %></h1>
        <h2>Price:
        <%= p.price %></h2>
        <% if (user) { %>
            <form action="/products/<%= p._id %>?_method=PUT" method="POST">
                <a href="/products/<%= p.id %>/edit">Edit</a>
                </form>
                <form action="/products/<%= p._id %>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
              <% } %>
        <% }); %>
  <%- include('../partials/footer') %>